@model GestionPhotoImmobilier.Models.Forfait

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Forfait</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescriptionForfait)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescriptionForfait)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.ForfaitId }) |
    @Html.ActionLink("Retour à l'Index", "Index")
</p>
