@model IEnumerable<GestionPhotoImmobilier.Models.Forfait>

@{
    ViewBag.Title = "Index des Forfaits";
}

<h2>Index des Forfaits</h2>

<p>
    @Html.ActionLink("Créer un nouveau forfait", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionForfait)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionForfait)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.ForfaitId }) |
                @Html.ActionLink("Détails", "Details", new { id = item.ForfaitId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.ForfaitId })
            </td>
        </tr>
    }

</table>
