@model GestionPhotoImmobilier.Models.Photo

@{
    ViewBag.Title = "Supprimer";
}

<h2>Supprimer</h2>

<h3>Voulez-vous vraiment supprimer cette Photo?</h3>
<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeFichier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFichier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chemin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chemin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propriete.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propriete.Client)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Supprimer" class="btn btn-default" /> |
            @Html.ActionLink("Retour à l'Index", "Index")
        </div>
    }
</div>
