@model GestionPhotoImmobilier.Models.Photo

@{
    ViewBag.Title = "Détails";
}

<h2>Détails</h2>

<div>
    <h4>Photo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeFichier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeFichier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chemin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chemin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Propriete.Client)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Propriete.Client)
        </dd>

    </dl>
    @{var cheminBase = ViewBag.cheminBase;}
    <img src="@cheminBase" />
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Retour à l'Index", "Index")
</p>
