@model Photos.Models.ValidationNbrDecimal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ValidationNbrDecimal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nb1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nb1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nb2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nb2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ValidationNbrDecimalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
