@model GestionPhotoImmobilier.ViewModels.AgentRapport

@{
    ViewBag.Title = "Details";
}

<h2>Détails</h2>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Agent.Nom)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agent.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Agent.Agence)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Agent.Agence.Nom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifier", "Edit", new { id = Model.Agent.AgentId }) |
    @Html.ActionLink("Retourner à la liste", "Index")
</p>


<h3>Rapport Annuel</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().DateSeance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Photographe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Forfait)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Statut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Extras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Ville)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Propriétaire)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RapportAgent.First().Prix)
        </th>
    </tr>

    @{
        foreach (var item in Model.RapportAgent)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.DateSeance)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Photographe)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Forfait)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Statut)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Extras)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Adresse)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Ville)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Propriétaire)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Prix)
                </td>
            </tr>
        }
    }
</table>

@{
    if(ViewBag.prixTotal != null)
    { 
        <h3>Total des séances avec extras: @ViewBag.prixTotal $</h3>
    }
}
