@model IEnumerable<GestionPhotoImmobilier.Models.Agent>

@{
    ViewBag.Title = "Index des Agents";
}

<h2>Index des Agents</h2>

<p>
    @Html.ActionLink("Ajouter un nouvel agent", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Agence)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agence.Nom)
            </td>
            <td>
                @Html.ActionLink("Modifier", "Edit", new { id = item.AgentId }) |
                @Html.ActionLink("Détails", "Details", new { id = item.AgentId }) |
                @Html.ActionLink("Supprimer", "Delete", new { id = item.AgentId })
            </td>
        </tr>
    }

</table>
