@model IEnumerable<GestionPhotoImmobilier.Models.Rdv>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Confirmer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photographe)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Confirmer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photographe)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RdvId }) |
            @Html.ActionLink("Details", "Details", new { id=item.RdvId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RdvId })
        </td>
    </tr>
}

</table>
