@model GestionPhotoImmobilier.ViewModels.SeanceRdv

<h4>Forfait</h4>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Forfait)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forfait.DescriptionForfait)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Forfait.Prix)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(model => model.Forfait.Nom)
        </td>
        <td>
            @Html.DisplayFor(model => model.Forfait.DescriptionForfait)
        </td>
        <td>
            @Html.DisplayFor(model => model.Forfait.Prix)
        </td>
    </tr>
</table>