@model GestionPhotoImmobilier.ViewModels.SommaireSeance

@{
    ViewBag.Title = "Index";
}

<h2>Sommaire de séance</h2>
<hr />
@Html.Partial("_InfoSeanceRdv", Model.SeanceRdv)

@Html.Partial("_InfoPropriete", Model.Propriete)

@Html.Partial("_InfoForfait", Model.SeanceRdv)

@Html.Partial("_InfoAgent", Model.Agent)

@Html.Partial("_InfoPhotographe", Model.SeanceRdv)

@{
    GestionPhotoImmobilier.ViewModels.SommairePhoto somPhoto = new GestionPhotoImmobilier.ViewModels.SommairePhoto();
    somPhoto.Photos = Model.Propriete.Photos;
    somPhoto.SeanceId = Model.SeanceRdv.SeanceId;

    @Html.Partial("_GalleriePhoto", somPhoto);
}



<h4>Facture</h4>
<hr />
<h8>Total forfait de base : @Model.PrixSeance $</h8><br />
<h8> Prix des extras :   @if (@Model.PrixExtra == null)
                         {
                             <span>0 $</span>
                         }
                         else
                         {
                            <span>@Model.PrixExtra $</span>
                         } </h8><br />
<h8>Tps : @Model.PrixTpsSeance $</h8> <br />
<h8>Tvq : @Model.PrixTvqSeance $</h8>
<hr />
<h8>Total après taxe : @Model.PrixTotalSeance $</h8>
<hr />