@model GestionPhotoImmobilier.ViewModels.SommaireSeance

@{
    ViewBag.Title = "Index";
}

<h2>Sommaire de séance</h2>
<hr />
@Html.Partial("_InfoSeanceRdv", Model.SeanceRdv)

@Html.Partial("_InfoPropriete", Model.Propriete)

@Html.Partial("_InfoForfait", Model.SeanceRdv)

@Html.Partial("_InfoAgent", Model.Agent)

@Html.Partial("_InfoPhotographe", Model.SeanceRdv)

@{
    GestionPhotoImmobilier.ViewModels.SommairePhoto somPhoto = new GestionPhotoImmobilier.ViewModels.SommairePhoto();
    somPhoto.Photos = Model.Propriete.Photos;
    somPhoto.SeanceId = Model.SeanceRdv.SeanceId;

    @Html.Partial("_GalleriePhoto", somPhoto);
}